.num-02{
    font-size: 75px;
    color: #DDBF1B;
    margin-left: 75px;
    margin-top: 30px;
}

.main{
display: flex;
flex-direction: column;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.heading{
    margin-bottom: 70px;
    text-align: center;
}
.main .heading h1{
    font-size: 3rem;
    position: relative;
    right: 40px;
}

.features-list{
    display: flex;
    justify-content: space-between;
}

.list{
    margin-right: 100px;
    font-size: 2rem;
}
.list h1{
    font-size:2rem;
}

 #secid{
    margin-right:30px
}

#fast, #clear, #secure{
    height: 100px;
    margin-bottom: 10px;
}

#fast{
    position: relative;
    right: 23px;
}
#clear{
    position: relative;
    right: 10px;
}
#secure{
    position: relative;
    left: 0px;
}


/* Responsive codes */

@media screen and (min-width:768px) and (max-width:1024px)
{
  .num-02{
    font-size:50px;
  }
  .main .heading h1{
    font-size: 2.5rem;
  }

  #fast, #clear, #secure{
    height: 75px;

  }
  #clear{
    position:relative;
    left:7px;
  }

  .main{
    
    margin-left: 40px; 
    
  }


}


@media screen and (min-width: 668px) and (max-width: 768px)
{
  .num-02{
    font-size:30px;
    margin-top: 100px;
  }

  .main .heading h1{
    font-size: 2rem;
  }

  #fast, #clear, #secure{
    height: 70px;
  }
  .main{
    margin-left: 30px;
  }

  #clear{
    position:relative;
    right:15px;
  }
  #secure{
    position:relative;
    right: 30px;
  }
  #fast{
    position:relative;
    right:15px;
  }
}


@media screen and (max-width: 668px)
{
  .num-02{
    font-size:2rem;
  }
  .main .heading h1{
    font-size: 2.2rem;
  }

  .main .heading{
    width: fit-content;
    
  }

  #fast, #clear, #secure{
    height: 70px;
  }
  .main{
    /* padding-left: 30px; */
    /* margin-left: 50px; */
   width: 400px;
  }
  .main .heading h1{
    width: fit-content;
    text-align: center;
    padding-left: 120px;
  }

  .features-list{
    width: 400px;
  }
}


@media screen and (max-width:495px){

.features-list{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main{
  margin-left: 0px;
  margin-right: 0px;
}
#fast{
  position: relative;
  right: 5px;
}
#clear{
  position: relative;
  right: 0px;
}
.num-02{
  position: relative;
  right: 10px;
  
}
.heading{
  padding-top: 20px;
}

.list{
  position:relative;
  top:-30px;
  margin-bottom:10px;
}



}



/* loader  */

#loadir{
    margin-left:700px;
    margin-top:350px;
}

.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #DDBF1B;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  