.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color:#E8E6E3;
    
}

.num-00{
    color:#DDBF1B;
    font-size: 40px;
}

.head-title{
    font-size: 60px;
}

.head-cont{
    margin-bottom: 20px;
}

.description-line
{
    margin-bottom: 10px;
}

.combined-title{
    display:flex;
    flex-direction: column;
}

.description{
    padding-left: 50px;
}

.description p:nth-child(1){
    text-indent: 0px;
}

.description p:nth-child(2){
    text-indent: 40px;
}

.description p:nth-child(3){
    text-indent: 80px;
}

.description p:nth-child(4){
    text-indent: 120px;
}

/* Responsive Code */

/* 1440px > screen > 1024px Laptop Large  */

@media screen and (min-width:1024px)
{
    .description{
        width: 650px;
    }
}

/* 1024px > screen > 768px Laptop Normal  */

@media screen and (max-width:1024px) and (min-width: 768px)
{
    .num-00{
        font-size: 40px;
    }
    .description{
        width:700px;
    }
}

/* 768px > screen > 668px Tablet  */

@media screen and (max-width: 768px) and (min-width: 668px)
{
    .head-title{
        font-size: 3rem;
    }
    .num-00{
        font-size: 30px;
    }
    .description p:nth-child(2){
        display:none;
    }
    
    .description p:nth-child(3){
        display:none;
    }
    .description p:nth-child(4){
        text-indent:0px; 
    }
}

/* 668px > screen > 425px Mobile Large  */

@media screen and (max-width: 668px) and (min-width: 425px)
{
    .num-00{
        display:none;
    }
    .head-title{
        font-size: 2rem;
        color: #DDBF1B;
    }
    .description p:nth-child(2){
        display:none;
    }
    
    .description p:nth-child(3){
        display:none;
    }
    .description p:nth-child(4){
        text-indent:0px;
    }
    .description{
        width: 300px;
    }

}

/* 425px > screen Mobile Normal  */

@media screen and (max-width:425px)
{
    .num-00{
        display:none;
    }
    .head-title{
        color: #DDBF1B;
        font-size: 2rem;
    }
    .description p:nth-child(2){
        display:none;
    }
    
    .description p:nth-child(3){
        display:none;
    }
    .options{
        display:none;
    }
    .description p:nth-child(4){
        text-indent:0px;
    }

    .description{
        width: 300px;
    }
    
}